<div class="container py-5">
  <h3><%= @company.name.titleize %>'s Products</h3>
  <div class="row">
    <div class="col">
      <%= link_to "< #{@company.name.titleize}", company_path(@company) %>
    </div>
    <div class="col text-right">
      <%= link_to "+ Add a Product", new_company_product_path(@company) %>
    </div>
  </div>
  <div class="container grid-container">
    <% if @products.present? %>
      <% @products.each_with_index do |product, index| %>
        <div class="grid-item">
          <%= link_to(company_product_path(@company, product)) do %>
            <div class="product-image">
              <%= image_tag product.images.first %>
            </div>
            <div class="product-name">
              <h5><%= product.name %></h5>
            </div>
            <div class="product-discription">
              <p class="truncate"><%= product.discription %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      No Products
    <% end %>
  </div>
</div>
