<div class="container py-5">
  <h3>Products</h3>
  <div class="row">
    <div class="col">
      <%= link_to "< Companies", companies_path %>
    </div>
  </div>
  <div class="container grid-container">
    <% @products.each_with_index do |product, index| %>
      <div class="grid-item">
        <%= link_to(company_product_path(product.company, product)) do %>
          <div class="product-image">
            <%= image_tag product.images.first if product.images.present? %>
          </div>
          <div class="product-name">
            <h5><%= product.name %></h5>
          </div>
          <div class="product-discription">
            <p class="truncate"><%= product.discription %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
